/* body{
 /* background: -webkit-linear-gradient(left, #7231af, #00c6ff);  
    background: rgb(247, 241, 231);
}  
/* h1{
    font-weight: bold;
}
nav{
    font-weight: bold;
} */
body,html{
    height: 100%;
    color: rgb(255, 255, 255);
}

form.Cityscape{
    background: url('images/Cityscape.jpg') no-repeat; 
    background-size: cover;
    width: 100%; 
    height: 100%;
    opacity: 0.5;
} 
